<script
  setup
  lang="ts"
  generic="T extends Record<string | number | symbol, unknown>"
>
import FormInput from "./Input.vue"
import { computed } from "vue"

const props = defineProps<{
  items?: T[]
  display?: keyof T
}>()

const listId = crypto.randomUUID()

function getItemDisplay(item: T): string | number | symbol | undefined {
  if (!props.display) return undefined

  const display = item[props.display]

  if (
    typeof display === "string" ||
    typeof display === "number" ||
    typeof display === "symbol"
  )
    return display

  return undefined
}

const listOfItems = computed(
  () =>
    props.items?.map((item) => ({ ...item, __display: getItemDisplay(item) })),
)

const pattern = computed(
  () =>
    listOfItems.value?.reduce(
      (str, item) => str + "|" + item.__display?.toString(),
      "",
    ),
)
</script>

<template>
  <div>
    <form-input type="text" :list="listId" :pattern="pattern"></form-input>
    <datalist :id="listId">
      <option
        v-for="item in listOfItems"
        :key="item.__display"
        :value="item.__display"
      ></option>
    </datalist>
  </div>
</template>
