<template>
  <input />
</template>

<style scoped>
input {
  background-color: var(--input-background);
  border: 1px solid black;
  outline: none;
  padding-block: 0.125em;
  padding-inline: 0.25em;
  max-width: 100%;
  min-width: 0;
  max-height: 100%;
}
</style>
