<script setup lang="ts">
import LogbookFormMenu, { MenuAction } from "./FormMenu.vue"
import ComboBox from "@/components/Form/ComboBox.vue"
import FormInput from "@/components/Form/Input.vue"
import TextArea from "@/components/Form/TextArea.vue"

function handleMenuAction(action: MenuAction) {
  console.log("Menu action:", action)
}
</script>

<template>
  <section>
    <LogbookFormMenu @action="handleMenuAction"></LogbookFormMenu>
    <form @submit.prevent>
      <fieldset class="form-header">
        <div id="first">
          <div class="row">
            <label class="field">
              <span>Operador</span>
              <ComboBox></ComboBox>
            </label>

            <label class="field" id="status">
              <span>Estatus</span>
              <ComboBox></ComboBox>
            </label>

            <label class="field" id="logbook">
              <span>Bitácora</span>
              <ComboBox></ComboBox>
            </label>
          </div>

          <div class="row" id="liquidate">
            <label class="field horizontal">
              <span>Días a liquidar</span>
              <FormInput type="number"></FormInput>
            </label>
          </div>
        </div>

        <fieldset id="second">
          <legend>Periodo</legend>

          <label class="field horizontal">
            <span>Inicio</span>
            <FormInput type="date"></FormInput>
          </label>

          <label class="field horizontal">
            <span>Termino</span>
            <FormInput type="date"></FormInput>
          </label>
        </fieldset>

        <div id="third">
          <label class="field">
            <span>Observación</span>
            <TextArea class="no-resize" rows="3"></TextArea>
          </label>
        </div>

        <fieldset id="fourth">
          <legend>Mover a la Bitácora</legend>

          <div class="row">
            <label class="field" id="destination-logbook">
              <span>Bitácora de destino</span>
              <ComboBox></ComboBox>
            </label>

            <button>Cambiar</button>
          </div>
        </fieldset>
      </fieldset>
    </form>
  </section>
</template>

<style scoped>
section {
  background-color: var(--default-background);
  border: 1px solid black;
  padding: 0;
}

#logbook {
  max-width: 20%;
}

#status {
  max-width: 30%;
}

#liquidate {
  max-width: 50%;
  justify-content: flex-end;
}

#liquidate label {
  max-width: 100%;
}

#liquidate input {
  max-width: 30%;
}

.form-header {
  display: flex;
  flex-flow: row wrap;
  gap: 0.125em;
}

#first,
#second,
#third,
#fourth {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

#first {
  flex-basis: 33%;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  align-items: flex-end;
}

#second {
  flex-basis: 17%;
}

#third {
  flex-basis: 13%;
}

#fourth {
  flex-basis: 23%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.125em;
}

.field {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.125em;
  max-width: 100%;
}

.field.horizontal {
  flex-direction: row;
  gap: 0.25em;
}

.no-resize {
  resize: none;
}

#fourth .row {
  gap: 0.5em;
  align-items: center;
}

#destination-logbook {
  max-width: 70%;
}

button {
  color: white;
  background-color: var(--input-background);
  border: none;
  border-radius: 0.25em;
  padding-block: 0.25em;
  padding-inline: 0.5em;
}
</style>
