<script lang="ts">
export enum MenuAction {
	change = 'change',
	cancel = 'cancel',
	print = 'print',
	clear = 'clear',
	liquidate = 'liquidate',
	create = 'create',
	reactive = 'reactive',
	end = 'end',
}

</script>

<script setup lang="ts">
interface MenuOption {
	action: () => void,
	text: string
}

const emit$ = defineEmits<{
	action: [action: MenuAction],
}>();

const optionGroups: MenuOption[][] = [
	[
		{ text: 'Cambio', action: () => emit$('action', MenuAction.change) },
		{ text: 'Cancela', action: () => emit$('action', MenuAction.cancel) },
		{ text: 'Impresión', action: () => emit$('action', MenuAction.print) },
		{ text: 'Limpiar', action: () => emit$('action', MenuAction.clear) },
	],
	[
		{ text: 'Liquida', action: () => emit$('action', MenuAction.liquidate) },
	],
	[
		{ text: 'Nueva', action: () => emit$('action', MenuAction.create) },
		{ text: 'Reactiva', action: () => emit$('action', MenuAction.reactive) },
		{ text: 'Termina', action: () => emit$('action', MenuAction.end) },
	]
];
</script>

<template>
	<menu>
		<li v-for="options in optionGroups">
			<ul>
				<li v-for="option in options">
					<button @click="option.action">
						{{ option.text }}
					</button>
				</li>
			</ul>
		</li>
	</menu>
</template>

<style scoped>
menu,
ul {
	margin: 0;
	padding: 0.125em;
	display: flex;
	list-style: none;
}

menu {
	gap: 2em;
}

ul {
	gap: 0.5em;
}

button {
	font-size: 1em;
	appearance: none;
	border: none;
	border-radius: 0.125em;
}
</style>
