<script setup lang="ts">
import LogbookForm from './components/Logbook/Form.vue';

function handleLogbookSubmit(payload: unknown) {
	console.log(payload)
}
</script>

<template>
	<main>
		<LogbookForm @submit="handleLogbookSubmit"></LogbookForm>
	</main>
</template>

<style scoped></style>
