@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-size: 13px;
  font-family: Montserrat, system-ui, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1921;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --default-background: #2b2937;
  --input-background: #394165;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  max-height: 100dvh;
}

*,
::before,
::after {
  font-family: Montserrat, system-ui, Arial, sans-serif;
	font-size: 13px;
  accent-color: #3a4468;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
  max-height: 100%;
}
